<!DOCTYPE html>
<head>
  <%- include("../include/head.ejs"); %>
</head>
<body>
  <header><%- include("../include/header.ejs"); %></header>

  <div class="product-list-allproduct py-5">
    <p class="fs-1 fw-bold mx-5 my-4">
      Welcome <span class="text-danger">User</span> to website
    </p>

    <button type="button" class="btn btn-primary mx-5 mb-4 filter-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Bộ lọc
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Lọc sản phẩm</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form class="mx-auto nav-search-bar filter-search-bar" role="search">
              <div class="input-group mw-100">
                <input
                  type="text"
                  class="form-control rounded-start"
                  placeholder="Nhập tên sản phẩm"
                  aria-label="Search_bar"
                  aria-describedby="button-addon2"
                  id="Search_bar-filter"
                />
                <!-- <button
                  class="btn btn-dark rounded-end"
                  type="submit"
                  id="button-addon2"
                >
                  <i class="fa-solid fa-magnifying-glass"></i>
                </button> -->
              </div>
            </form>
            <div class="brand-container">
              <p class="brand-header">Thương hiệu:</p>
              <div class="brand-list" id="brand-list">
                <!-- <div class="brand-list-item selected border border-black rounded">Apple</div>
                <div class="brand-list-item border border-black rounded">Samsung</div>
                <div class="brand-list-item border border-black rounded">Xiaomi</div>
                <div class="brand-list-item border border-black rounded">Oppo 1</div>
                <div class="brand-list-item border border-black rounded">Oppo 2</div>
                <div class="brand-list-item selected border border-black rounded">Oppo 3</div>
                <div class="brand-list-item border border-black rounded">Oppo 4</div>
                <div class="brand-list-item border border-black rounded">Oppo 5</div> -->
              </div>
            </div>
            <div class="ram-container">
              <p class="ram-header">RAM:</p>
              <div class="ram-list" id="ram-list">
                <!-- <div class="ram-list-item border border-black rounded">4 GB</div>
                <div class="ram-list-item selected border border-black rounded">8 GB</div>
                <div class="ram-list-item border border-black rounded">12 GB</div>
                <div class="ram-list-item border border-black rounded">16 GB</div>
                <div class="ram-list-item selected border border-black rounded">32 GB</div>
                <div class="ram-list-item border border-black rounded">64 GB</div>
                <div class="ram-list-item border border-black rounded">128 GB</div> -->
              </div>
            </div>
            <div class="memory-storage-container">
              <p class="memory-storage-header">Memory Storage:</p>
              <div class="memory-storage-list" id="memory-storage-list">
                <!-- <div class="memory-storage-list-item border border-black rounded">8 GB</div>
                <div class="memory-storage-list-item selected border border-black rounded">16 GB</div>
                <div class="memory-storage-list-item selected border border-black rounded">32 GB</div>
                <div class="memory-storage-list-item border border-black rounded">64 GB</div>
                <div class="memory-storage-list-item border border-black rounded">128 GB</div>
                <div class="memory-storage-list-item border border-black rounded">256 GB</div>
                <div class="memory-storage-list-item border border-black rounded">512 GB</div>
                <div class="memory-storage-list-item border border-black rounded">1 TB</div> -->
              </div>
            </div>
            <div class="price-container">
              <p class="price-header">Price:</p>
              <div class="price-content">
                <p>From:</p>
                <div class="primary-price">
                  <input type="number" id="primary-price-value" class="primary-price-value border border-black rounded">
                </div>
                <p>to</p>
                <div class="secondary-price">
                  <input type="number" name="" id="secondary-price-value" class="secondary-price-value border border-black rounded">
                </div>
                <p>VNĐ</p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" id="cancel-button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
            <button type="button" id="confirm-button" class="btn btn-primary">Xác nhận</button>
          </div>
        </div>
      </div>
    </div>

    <div class="product-list-all w-100 d-flex flex-wrap">
      <!-- card treding example -->
      <!-- <a
        href="/productDetail?id=1"
        class="product mx-1 border border-secondary rounded-4 link-underline link-underline-opacity-0"
      >
        <img src="/img/sp1" class="card-img-top p-2" alt="..." />

        <div class="card-body m-2">
          <h5 class="card-title text-center fs-3 text-dark fw-bold">Phone 1</h5>
          <p class="card-text my-4 fs-4 fw-bold text-danger">12,023,234 đ</p>
        </div>
      </a> -->
    </div>
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination w-100 justify-content-center py-2" id="page-list">
      <!-- <li class="page-item">
        <li class="page-link" href="#" style="cursor: pointer;" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </li>
      </li>
      <li class="page-item active"><button class="page-link" href="#">1</button></li>
      <li class="page-item"><button class="page-link" href="#">2</button></li>
      <li class="page-item"><button class="page-link" href="#">3</button></li>
      <li class="page-item"><button class="page-link" href="#">4</button></li>
      <li class="page-item"><button class="page-link" href="#">5</button></li>
      <li class="page-item"><button class="page-link" href="#">6</button></li>
      <li class="page-item"><button class="page-link" href="#">7</button></li>
      <li class="page-item"><button class="page-link" href="#">8</button></li>
      <li class="page-item"><button class="page-link" href="#">9</button></li>
      <li class="page-item"><button class="page-link" href="#">10</button></li>
      <li class="page-item"><input type="number" class="page-link-input"></li>
      <li class="page-item"><button class="page-link" href="#">100</button></li>
      <li class="page-item">
        <li class="page-link" href="#" style="cursor: pointer;" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </li>
      </li> -->
    </ul>
  </nav>
  <%- include("../include/footer.ejs"); %>
</body>
