<head>
    <%- include("../include/head.ejs"); %>
</head>

<body>
    <%- include("../include/header.ejs"); %>
    <div class="product-detail-container">
        <div class="product-detail-top">
            <div class="product-detail-image-list">
                    <img class="product-detail-image" src="https://cdn2.cellphones.com.vn/insecure/rs:fill:300:0/q:90/plain/https://cellphones.com.vn/media/catalog/product/i/p/iphone-16-xanh-luu-ly.png" alt="">
                    <img class="product-detail-image" src="https://cdn2.cellphones.com.vn/insecure/rs:fill:300:0/q:90/plain/https://cellphones.com.vn/media/catalog/product/i/p/iphone-16-xanh-luu-ly.png" alt="">
                    <img class="product-detail-image" src="https://cdn2.cellphones.com.vn/insecure/rs:fill:300:0/q:90/plain/https://cellphones.com.vn/media/catalog/product/i/p/iphone-16-xanh-luu-ly.png" alt="">
                    <img class="product-detail-image" src="https://cdn2.cellphones.com.vn/insecure/rs:fill:300:0/q:90/plain/https://cellphones.com.vn/media/catalog/product/i/p/iphone-16-xanh-luu-ly.png" alt="">
                    <img class="product-detail-image" src="https://cdn2.cellphones.com.vn/insecure/rs:fill:300:0/q:90/plain/https://cellphones.com.vn/media/catalog/product/i/p/iphone-16-xanh-luu-ly.png" alt="">
                    <img class="product-detail-image" src="https://cdn2.cellphones.com.vn/insecure/rs:fill:300:0/q:90/plain/https://cellphones.com.vn/media/catalog/product/i/p/iphone-16-xanh-luu-ly.png" alt="">
                    <img class="product-detail-image" src="https://cdn2.cellphones.com.vn/insecure/rs:fill:300:0/q:90/plain/https://cellphones.com.vn/media/catalog/product/i/p/iphone-16-xanh-luu-ly.png" alt="">
                    <img class="product-detail-image" src="https://cdn2.cellphones.com.vn/insecure/rs:fill:300:0/q:90/plain/https://cellphones.com.vn/media/catalog/product/i/p/iphone-16-xanh-luu-ly.png" alt="">
                    <img class="product-detail-image" src="https://cdn2.cellphones.com.vn/insecure/rs:fill:300:0/q:90/plain/https://cellphones.com.vn/media/catalog/product/i/p/iphone-16-xanh-luu-ly.png" alt="">
                    <img class="product-detail-image" src="https://cdn2.cellphones.com.vn/insecure/rs:fill:300:0/q:90/plain/https://cellphones.com.vn/media/catalog/product/i/p/iphone-16-xanh-luu-ly.png" alt="">
                    <img class="product-detail-image" src="https://cdn2.cellphones.com.vn/insecure/rs:fill:300:0/q:90/plain/https://cellphones.com.vn/media/catalog/product/i/p/iphone-16-xanh-luu-ly.png" alt="">
            </div>
            <div class="product-detail-main-image">
                <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:300:0/q:90/plain/https://cellphones.com.vn/media/catalog/product/i/p/iphone-16-xanh-luu-ly.png" alt="">
            </div>
            <div class="product-detail">
                <div class="product-name">iPhone 16 Pro Max</div>
                <div class="product-price">30,000,000,000đ</div>
                <div class="product-version-container">
                    <p class="product-version-label">Chọn phiên bản</p>
                    <div class="product-version-list">
                        <div class="product-version">128 GB</div>
                        <div class="product-version on-active">256 GB</div>
                        <div class="product-version">512 GB</div>
                    </div>
                </div>                
                <div class="product-color-container">
                    <p class="product-color-label">Chọn màu</p>
                    <div class="product-color-list">
                        <div class="product-color on-active">Đen</div>
                        <div class="product-color">Xanh lá</div>
                        <div class="product-color">Tím</div>
                        <div class="product-color">Hồng</div>
                    </div>
                </div>
                <div class="product-add-to-cart-button-container">
                    <button class="add-to-cart-btn btn btn-primary" id="add-to-cart-btn">Add to cart</button>
                </div>
            </div>
        </div>
        <div class="product-detail-bottom">
            <div class="product-detail-header">
                <p>Chi tiết sản phẩm</p>
            </div>
            <div class="product-detail-more-detail">
                <pre style="font-size: 20px">
                    Màn hình: OLED 6.1" Super Retina XDR

                    Hệ điều hành: iOS 17
                    
                    Camera sau: Chính 48 MP &amp; Phụ 12 MP
                    
                    Camera trước: 12 MP
                    
                    Chip: Apple A16 Bionic
                    
                    RAM: 6 GB
                    
                    Dung lượng lưu trữ: 128 GB
                    
                    SIM: 1 Nano SIM &amp; 1 eSIM Hỗ trợ 5G
                    
                    Pin, Sạc: 3349 mAh 20 W
                    
                    Hãng: iPhone (Apple)</pre>
            </div>
        </div>
    </div>

    <%- include("../include/footer.ejs"); %>
</body>