<head>
  <%- include("../include/head.ejs"); %>
  <script type="module" src="../../assets/js/register.js"></script>
</head>

<body style="overflow: hidden">
  <header><%- include("../include/header.ejs"); %></header>

  <main>
    <div class="login-container__sign-up">
      <div class="box form-box">
        <div class="login-form__header">
          <h1 class="login-form__title">Sign Up</h1>
        </div>
        <form
          action=""
          method="POST"
          class="login-form__body"
          id="register-form__body"
        >
          <div class="input_group">
            <label for="register-form__input--username" class="form-label"
              >Username:
            </label>
            <input
              type="text"
              class="form-control"
              id="register-form__input--username"
              placeholder="Username"
              required
            />
            <div class="valid-feedback"></div>
            <div id="username-feedback" class="invalid-feedback">
              Please enter an username.
            </div>
          </div>
          <div class="input_group">
            <label for="register-form__input--email" class="form-label"
              >Email:
            </label>
            <input
              type="email"
              class="form-control"
              id="register-form__input--email"
              placeholder="Email"
              required
            />
            <div class="valid-feedback"></div>
            <div id="email-feedback" class="invalid-feedback">
              Please enter an email.
            </div>
          </div>
          <div class="input_group">
            <label for="register-form__input--password" class="form-label"
              >Password:
            </label>
            <input
              type="password"
              class="form-control"
              id="register-form__input--password"
              placeholder="Password"
              required
            />
            <div class="valid-feedback"></div>
            <div id="password-feedback" class="invalid-feedback">
              Please enter a password.
            </div>
          </div>
          <div class="input_group">
            <label
              for="register-form__input--confirm-password"
              class="form-label"
              >Confirm password:
            </label>
            <input
              type="password"
              class="form-control"
              id="register-form__input--confirm-password"
              placeholder="Password"
              required
            />
            <div class="valid-feedback"></div>
            <div id="confirm-password-feedback" class="invalid-feedback">
              Please enter a password to confirm.
            </div>
          </div>
        </form>
        <div class="login-form__footer">
          <button
            id="register-button__sign-up"
            class="btn btn-primary"
            type="button"
          >
            Sign up
          </button>
          <div class="login-form__link">
            <p>
              Have a account?
              <a href="/login">Sign In</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
