<!DOCTYPE html>

<head>
  <%- include("../include/head.ejs"); %>
    <script type="module" src="../../assets/js/user-info.js"></script>
</head>

<body>
  <!-- header -->
  <%- include("../include/header.ejs"); %>

    <div class="user-info-container">
      <form id="user-info-form-container" class="user-info-form-container">
        <p class="fs-1 text-center py-4">Chỉnh sửa thông tin tài khoản</p>
        <div class="input-group mb-4 user-info-fullname">
          <span class="input-group-text">Họ và tên</span>
          <input type="text" class="form-control" id="user-info-fullname" name="userFullname" />
          <div id="userFullname-feedback" class="invalid-feedback">
            Vui lòng nhập họ tên.
          </div>
        </div>
        <div class="input-group mb-4 user-info-gender">
          <span class="input-group-text">Giới tính</span>
          <div class="form-check pt-2 mx-2">
            <input class="form-check-input" type="radio" id="gender-male" name="userGender" value="0" checked />
            <label class="form-check-label">Nam</label>
          </div>
          <div class="form-check pt-2">
            <input class="form-check-input" type="radio" id="gender-male" name="userGender" value="1" />
            <label class="form-check-label">Nữ</label>
          </div>
        </div>
        <div class="input-group mb-4 user-info-phone-number">
          <span class="input-group-text">Số điện thoại</span>
          <input type="text" class="form-control" id="user-info-phone-number" name="userPhoneNumber" />
          <div id="userPhoneNumber-feedback" class="invalid-feedback">
            Vui lòng nhập số điện thoại.
          </div>
        </div>
        <div class="input-group mb-4 user-info-address">
          <span class="input-group-text">Địa chỉ</span>
          <input type="text" class="form-control" id="user-info-address" name="userAddress" />
          <div id="userAddress" class="invalid-feedback">
            Vui lòng nhập địa chỉ.
          </div>
        </div>
        <button type="submit" class="btn btn-primary" id="user-info-save-info-btn">
          Lưu thông tin
        </button>
      </form>
    </div>
    <div class="user-info-password-container">
      <form id="user-info-password-configure" class="user-info-password-configure">
        <p class="fs-1 text-center py-4">Đổi mật khẩu</p>
        <div class="input-group mb-4 user-info-old-password">
          <span class="input-group-text">Mật khẩu cũ</span>
          <input type="text" class="form-control" id="user-info-old-password" name="userOldPassword" />
          <label for="user-info-old-password" class="invalid-feedback">
            Vui lòng nhập mật khẩu cũ.
          </label>
        </div>
        <div class="input-group mb-4 user-info-new-password">
          <span class="input-group-text">Mật khẩu mới</span>
          <input type="text" class="form-control" id="user-info-new-password" name="userNewPassword" />
          <label for="user-info-new-password" class="invalid-feedback">
            Vui lòng nhập mật khẩu mới.
          </label>
        </div>
        <div class="input-group mb-4 user-info-confirm-new-password">
          <span class="input-group-text">Xác nhận mật khẩu mới</span>
          <input type="text" class="form-control" id="user-info-confirm-new-password" name="userConfirmNewPassword" />
          <label for="user-info-confirm-new-password" class="invalid-feedback">
            Vui lòng nhập xác nhận mật khẩu mới.
          </label>
        </div>
        <button type="submit" class="btn btn-primary" id="user-info-save-password-btn">
          Lưu mật khẩu
        </button>
      </form>

    </div>

    <%- include("../include/footer.ejs"); %>
</body>