/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* Firefox */
input[type='number'] {
  appearance: none;
  -moz-appearance: textfield;
}

.navbar_custom {
  background-color: #f6f5ff !important;
  padding: 0 4.9rem !important;
}

.nav-search-bar {
  width: 25rem !important;
}

.btn-logout-reponsive {
  visibility: hidden;
}

.btn-user-info-reponsive {
  display: none;
}

/* .Slide-show .carousel-inner {
  max-height: 40% !important;
} */

.Slide-show .carousel-inner .carousel-item img {
  width: 100%;
  height: 70%;
  object-fit: inherit;
  padding-left: 8rem;
  padding-right: 8rem;
  transition: 0.4s;
}

.trending-group {
  margin: 0 2.5rem;
}

.product-list-home {
  margin: 0 2.5rem 2rem 2.5rem;
}

.product {
  width: calc(25% - 8px) !important;
}

.product img {
  object-fit: contain;
}

.product:hover img {
  padding: 1.1rem !important;
}

.footer {
  padding: 5rem;
  padding-bottom: 1rem;
  background-color: #f6f5ff !important;
}

.basic-describe img {
  max-height: 50%;
  max-width: 10%;
}

.company a:hover,
.support a:hover,
.address a:hover {
  color: aqua;
  font-size: large;
}

.page-item:hover .page-link {
  background-color: #0d6efd;
  color: white;
}
