.user-info-container, .user-info-password-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8% 0 2% 0;
}

.user-info-form-container, .user-info-password-configure {
    width: 80%;
    height: 500px;
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group{
    max-width: 50%;
}