<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./include/head'); %>
</head>
<body class="container">

<header>
  <%- include('./include/header'); %>
</header>

<main>
    <button class="btn btn-primary">Đây là trang index</button>
</main>

</body>
</html>