<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../include/admin_head.ejs"); %>
        <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
        <script type="module" src="../../assets/js/testingRole.js" defer></script>
</head>

<body>
    <table id="datatablesSimple"></table>
</body>

</html