<footer class="footer d-flex flex-wrap w-100 h-auto">
  <div class="upper-footer w-100 d-flex justify-content-star">
    <div class="basic-describe">
      <img class="h-auto mh-50 w-25" src="../assets/icon/Logo.svg" />
      <p class="fs-5 w-50 fw-bold py-2">Want a new phone? Come to our shop</p>
      <a href="https://facebook.com" class="bi bi-facebook link-dark"></a>
      <a href="https://x.com" class="bi bi-twitter-x link-dark"></a>
      <a href="https://instagram.com" class="bi bi-instagram link-dark"></a>
    </div>
    <div class="company w-25 d-flex flex-row">
      <ul>
        <li class="fs-4 fw-bold mb-3 border-bottom border-dark">Company</li>
        <li class="mb-1">
          <a class="link-dark link-underline link-underline-opacity-0" href="/"
            >About Us</a
          >
        </li>
        <li class="mb-1">
          <a class="link-dark link-underline link-underline-opacity-0" href="/"
            >Features</a
          >
        </li>
        <li class="mb-1">
          <a class="link-dark link-underline link-underline-opacity-0" href="/"
            >Our Pricing</a
          >
        </li>
        <li class="mb-1">
          <a class="link-dark link-underline link-underline-opacity-0" href="/"
            >Latest News</a
          >
        </li>
      </ul>
    </div>

    <div class="support w-25 d-flex flex-row">
      <ul>
        <li class="fs-4 fw-bold mb-3 border-bottom border-dark">Support</li>
        <li class="mb-1">
          <a class="link-dark link-underline link-underline-opacity-0" href="/"
            >FAQ’s</a
          >
        </li>
        <li class="mb-1">
          <a class="link-dark link-underline link-underline-opacity-0" href="/"
            >Terms & Conditions</a
          >
        </li>
        <li class="mb-1">
          <a class="link-dark link-underline link-underline-opacity-0" href="/"
            >Privacy Policy</a
          >
        </li>
        <li class="mb-1">
          <a class="link-dark link-underline link-underline-opacity-0" href="/"
            >Contact Us</a
          >
        </li>
      </ul>
    </div>

    <div class="address w-25 d-flex flex-row">
      <ul>
        <li class="fs-4 fw-bold mb-3 border-bottom border-dark">Address</li>
        <li class="mb-1">
          <span class="fw-bold">Location: </span>
          <a
            class="link-dark link-underline link-underline-opacity-0"
            href="https://www.google.com/maps/place/Saigon+University/@10.7599171,106.6822583,15z/data=!4m2!3m1!1s0x0:0xa06651894598e488?sa=X&ved=1t:2428&ictx=111"
            >273 Đ. An Dương Vương, Phường 3, Quận 5, Hồ Chí Minh 700000</a
          >
        </li>
        <li class="mb-1">
          <span class="fw-bold">Email: </span>
          <a class="link-dark link-underline link-underline-opacity-0" href="#"
            >abc@gmail.com</a
          >
        </li>
        <li class="mb-1">
          <span class="fw-bold">Phone </span>
          <a class="link-dark link-underline link-underline-opacity-0" href="#"
            >08291728372</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="lower-footer w-100">
    <p
      class="p-3 mt-3 border-top border-2 border-dark border-opacity-75 text-center fs-4"
    >
      Copyright ©2023 webdesign SGU. All rights reserved
    </p>
  </div>
</footer>
