<footer class="footer d-flex justify-content-star w-100 h-auto bg-secondary">
  <div class="basic-describe">
    <img class="h-auto mh-50 w-25" src="../assets/icon/Logo.svg" />
    <p class="fs-5 w-25 fw-bold py-2">
      Need to help for your new look? trust us. With cloth, you becomes a lot
      confident with everybody.
    </p>
    <a href="https://facebook.com" class="bi bi-facebook link-dark"></a>
    <a href="https://x.com" class="bi bi-twitter-x link-dark"></a>
    <a href="https://instagram.com" class="bi bi-instagram link-dark"></a>
  </div>
</footer>
